
<%=form_with model: @author, url: authors_path do |f|%>
  <p>
    <%= f.label 'First Name:'%><br>
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label 'Last Name:'%><br>
    <%= f.text_field :last_name%>
  </p>
  <p>
    <%= f.label 'Date of Birth:'%><br>
    <%= f.date_field :date_of_birth, class: 'form-control' %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<%end%>