<%=form_with model: @book, url: books_path do |f|%>
  <p>
    <%= f.label 'Title:'%><br>
    <%= f.text_field :title%>

    <%= f.label 'Author:'%><br>
    
    <% Author.all.each do |author|%>
      <%= f.check_box "author_ids[]", {multiple: true}, author.id, false%>
      <%=author.first_name%>
    <%end%>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<%end%>
