<%=form_with model: @book, url: books_path do |f|%>
  <p>
    <%= f.label 'Title:'%><br>
    <%= f.text_field :title%>

    <%= f.label 'Author:'%><br>
    
    <% Author.all.each do |author|%>
      <%= check_box_tag "book[author_ids][]", author.id, f.object.authors.include?(author), {multiple: true} %>
      <%=author.first_name%>
    <%end%>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<%end%>
